ReactModalPortal > div {
    opacity:0;
}

.modal > .ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    background-color: whitesmoke;
    width:30%;
    height: 78%;
}

 .modal > .PostDescription {
    margin-top: 50px;
    height: 7%;
    width: 20%;
}

 .modal > .Heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    font-weight: 300;
}

 .modal > .AddPost {
    display: flex;
    margin-top: 1%;
    border-style: solid;
    border-width: 1px;
    min-width:8%;
    height:55%;
    /* background-color: white;
    color: gray;     */
    cursor: pointer;
    color: #47494D;
    /* background-color: #199dd1; */
    background-color: lightgray;
    border-radius: 5px;
    font-size: 1.5vw;
    text-align: center;
   
}

.modal > .fileChoose {
    margin-bottom: 5%;
    width: 60%;
}


 .modal > .WrappedPost {
    width: 60%;
    margin: 10%;
    border-style: solid;
    border-width: 1px;
}

 .modal > .PostDescription {
    border-radius: 8px;
    height: 20%;
    width: 65%;
    margin-bottom: 10%;
}

 .modal > .buttonwrapper {
    display: flex;
    flex-direction: row;
    
}

 .modal > .buttonwrapper > .Cancel{
    margin-left: 10px;
}

 .modal > .buttonwrapper > .Done{
    float: left;
    margin-left: 35px;
}