.Container {
    display: flex;
    flex-direction: row;
    min-height: 850px;
}

.wrapper {
    display: flex;
}

.Mainposts {
    display: flex;
    flex-direction: column;
    margin-top:5%;
    margin-left: 2%; 
    /* margin:5px 5px 5px 1px;  */
    border-style: solid;
    border-width: 1px;
    width: 45%;
    height: 900px; 
    font-size: 2vw;
    /* flex-grow: 1; */
    border-radius: 10px;
}

.Mainposts > .PostDetails {
    /* display: flex; */
    margin: 15px 0px 35px 15px;
    /* border-style: solid;
    border-width: 1px;     */
    width: 95%;
    height: 490px; 
    font-size: 1vw;
    display: inline-block;
    /* object-fit: cover; */
}

.Mainposts > .PostDetails > .By {
    margin: 5px 0px 0px 15px;
    width: 15%;
    min-height: 5px; 
    font-size: 1vw;
    font-weight: bold;
    /* background-color: red; */
    /* object-fit: cover; */
}

img {
   
    image-rendering: crisp-edges;
}

.Mainposts > .PostDetails >.Pic {
    margin: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    min-height: 210px; 
    font-size: 2vw;
}
