.UserPage {
    display: flex;
    justify-content: center;

}


.Content {
    
    display: flex;
    flex-direction: column;
    
    width: 50%;
    margin-top: 10%;
    
    border-style: solid;
    border-width: 1px;
}