.CommentHere {
    display: flex;
    height: 25%;
    border-style: solid;
    width: 20%;
    border-style: solid;
    border-width: 1px;
}

.CommentHere:hover {
    cursor: pointer;
    color: bisque;

}