

.user-info {
    margin:auto;
    width:55%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
}

.User-Details > .user-profile {
    display:flex;
    flex-direction: column;
    margin: 25px;
    /* border-style: solid;
    border-width: 1px; */
    height:200px;
    float: left;
    width:25%;
}

.User-Details > .user-profile > .user-pic {
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    height:60%;
    float: left;
    width:90%;
}

.User-Details > .user-profile  > .edit-profile {
    margin-left: 15px;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    height:30px;
    padding-top: 2px;
    text-align: center;
    float: left;
    width:90%;
    border-radius: 10px;
    font-size: 1.5vw;
}

.User-Details > .user-info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    /* border-style: solid;
    border-width: 1px; */
    width:60%;
    height:190px;
    float: left;
    padding-top: 8px;
    text-align: center;
    font-size:2vw;

}

.User-Details > .user-info > .user-name {
    margin: 3px 25px 5px 25px;
    /* border-style: solid;
    border-width: 1px; */
    width:70%;
    height:30px;
    float: left;
    padding-top: 8px;
    text-align: left;
    font-size:1.5vw;
    font-weight: bold;
}

.User-Details > .user-info > .user-email {
    margin: 5px 25px 5px 25px;
    /* border-style: solid;
    border-width: 1px; */
    width:80%; 
    height:40px;
    padding-top: 8px;
    font-size:1.5vw;
    text-align:left;
    font-weight: bold;
}

.User-Details > .user-info > .user-email {
    margin: 5px 25px 5px 25px;
    /* border-style: solid;
    border-width: 1px; */
    width:80%;
    height:40px;
    padding-top: 8px;
    font-size:1.5vw;
    text-align: left;
    font-weight: bold;
}

.User-Details > .user-info > .total-posts {
    margin: 5px 25px 5px 25px;
    /* border-style: solid;
    border-width: 1px; */
    width:80%;
    height:40px;
    padding-top: 8px;
    font-size:1.5vw;
    text-align: left;
    font-weight:bold;
}
