.user-posts {
    display: flex;
    /* border-style: solid;
    border-width: 1px; */
    width:90%;
    height:300px;
    margin:auto;
}


.user-posts >.post {
    margin:30px;
    /* border-style: solid;
    border-width:1px; */
    width:55%;
    height:250px;
    float: left;
}

.user-posts >.post >.post-pic {
    margin-top:25px;
    
    border-style: solid;
    border-width:1px;
    width:80%;
    height:70%;
}

.user-posts > .post > .voteCount {
    margin-top: 8px;
    margin-left: 2px;
    font-size: 1vw;
    font-weight: bold;
}

.user-posts > .post > .voteCount > .votes{
    font-weight:100;
    margin-left: 5px;
}

