.posts {
    display: flex;
    flex-direction: column;
    margin-top:5px;
    margin-left: 35%;
    border-style: solid;
    border-width: 1px;
    width: 35%;
    height: auto; 
    font-size: 2vw;
    
    /* flex-grow: 1; */
    border-radius: 10px;
}

.posts > .post {
    /* display: flex; */
    margin: 5px;
    /* border-style: solid;
    border-width: 1px;      */
    width: 95%;
    height: 650px; 
    font-size: 1vw;
    display: inline-block;
    overflow: hidden;
    /* object-fit: cover; */
}

.posts > .post > .show-posts {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 45%;
    height: 20px;
    /* border-style: solid;
    border-width: 1px; */
}

.posts > .post > .show-posts >.show-topic {
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.25vw;
}




.posts > .post > .posted-by {
    margin: 5px 0px 0px 15px;
    width: 15%;
    min-height: 5px; 
    font-size: 2vw;
    font-weight: bold;
    /* background-color: red; */
    /* object-fit: cover; */
}

img {
    max-width: 100%;
    max-height: 100%;
}
.posts > .post >.post-pic {
    margin: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    min-height: 210px; 
    font-size: 2vw;
}

.posts > .post > .votecount {
    font-weight: 500;
    margin-left: 20px; 
    font-size: 2vw;
}

.posts > .post >.votes {
    margin-left: 5px;
    font-size: 1.5vw;
}

.posts > .post > .posted-on {
    margin-left: 45px;
    margin-bottom: 5px;
    font-size: 1vw;
}

.posts > .post > .posted-time {
    margin-left: 2px;
    margin-bottom: 5px;
    font-size: 1vw;
}

.posts > .post > .Description {
    margin: 8px 15px 5px 15px;
    padding-top: 5px;
    /* border-style: solid;
    border-width: 1px; */
   
    width: 90%;
    min-height: 25px;
    text-align: justify;
    font-size: 1vw;
}

.posts > .post > .Description >.Description-of-post {
    margin-left: 5px;
    font-size: 1.5vw;
    width: 10%;
    font-weight: bolder;
    
}

.posts > .post > .Description > .Description-content {
    margin: 18px 15px 15px 15px;
    padding-top: 5px;
    width: 95%;
    min-height: 25px;
    text-align: justify;
    font-size: 1vw;
}




