.voteIconWrapper {
    width: 15%;
}

.voteIconWrapper > .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.voteIconWrapper > .tooltip > .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.voteIconWrapper > .tooltip:hover .tooltiptext {
    visibility: visible;
}

.voteIconWrapper:hover {
    cursor: pointer;    
}



