.header {
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    height: 7%; 
    width: 100%;
    position: fixed;
    /* background-color: #199dd1;  */
    background-color:#47494D;
}

.header > .App-title {

    display: flex;
    cursor: pointer;
    /* margin: 5px 220px 10px 5px; */
    margin: 0.5% 15% 3% 2%;
    /* background-color: red; */
    
    min-height: 15%;
    font-size: 35px;
    margin-bottom: 15px;
    min-width: 10%;
    font-family: cursive;
    color: white;
    padding-bottom: 5px;
}

@media screen and (max-height: 5%){
    .header {
        height: 5%;
    }
}

@media screen and (max-width: 850px){
    .header > .App-title{
        font-size:25px;
    }
}

@media screen and (max-width: 650px){
    .header > .App-title{
        font-size:18px;
    }
}

@media screen and (max-width: 450px){
    .header > .App-title{
        font-size:12px;
    }
}




.header >.add-a-post {
    display: flex;
    margin-top: 10px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    min-width:5%;
    height:30px;
    /* background-color: white;
    color: gray;     */
    cursor: pointer;
    color: #47494D;
    
    /* background-color: #199dd1; */
    background-color: lightgray;
    border-radius: 5px;
    font-size: 22px;
}


@media screen and (max-width: 1100px){
    .header > .add-a-post {
        font-size:20px;
        height: 20px;
    }
}

@media screen and (max-width: 950px){
    .header > .add-a-post {
        font-size:15px;
        height: 20px;
    }
}

@media screen and (max-width: 750px){
    .header > .add-a-post {
        font-size:12px;
        height: 15px;
    }
}

@media screen and (max-width: 600px){
    .header > .add-a-post {
        font-size:8px;
        height: 12px;
    }
}

.header > .Search-bar {
    min-width: 28%;
    height: 50%;
    /* margin: 13px 60px 10px 20px; */
    margin: 1% 2% 1% 2%;
    font-size: 1.5vw;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 7px;
}

.header > .User-name {
    min-width:7%;
    /* margin: 15px 0px 5px 45px; */
    float: left;
    margin:1% 1% 0.5% 4%;
    font-size: 30px;
    color: azure;
    /* font-size: 20px; */
    font-weight: 500;
    text-align: justify;
    /* background-color: green; */
}

@media screen and (max-width: 850px){
    .header > .User-name{
        font-size:25px;
    }
}

@media screen and (max-width: 650px){
    .header > .User-name{
        font-size:18px;
    }
}

@media screen and (max-width: 450px){
    .header > .User-name{
        font-size:12px;
    }
}

.User-name:hover{
    cursor: pointer;
}

.header > .log-out {
    margin:1% 0% 0.5% 6%;
    width: 50%;
    color: azure;
    min-width:10%;
    text-align: center;
    font-size: 25px;
    height: 50%;
    float: left;
}

@media screen and (max-width: 850px){
    .header > .log-out {
        font-size:25px;
    }
}

@media screen and (max-width: 650px){
    .header > .log-out {
        font-size:18px;
    }
}

@media screen and (max-width: 450px){
    .header > .log-out {
        font-size:12px;
    }
}

.log-out:hover{
    font-weight: bold;
    cursor: pointer;
}