.header {
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    height: 8%; 
    width: 100%;
    position: fixed;
    /* background-color: #199dd1;  */
    background-color:#47494D;
}

.header > .App-title {

    display: flex;
    /* margin: 5px 220px 10px 5px; */
    margin: 0.5% 15% 3% 2%;
    /* background-color: red; */
    
    min-height: 15%;
    font-size: 2.5vw;
    margin-bottom: 15px;
    min-width: 10%;
    font-family: cursive;
    color: white;
    padding-bottom: 5px;
}

.header >.add-a-post {
    display: flex;
    margin-top: 1%;
    border-style: solid;
    border-width: 1px;
    min-width:8%;
    height:55%;
    /* background-color: white;
    color: gray;     */

    color: #47494D;
    /* background-color: #199dd1; */
    background-color: lightgray;
    border-radius: 5px;
    font-size: 1.5vw;
    text-align: center;
   
}

.header > .Search-bar {
    min-width: 28%;
    height: 50%;
    /* margin: 13px 60px 10px 20px; */
    margin: 1% 6% 1% 2%;
    font-size: 1.5vw;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 7px;
}

.header > .User-name {
    min-width:7%;
    /* margin: 15px 0px 5px 45px; */
    float: left;
    margin:1% 1% 0.5% 5%;
    
    font-size: 2vw;
    color: azure;
    /* font-size: 20px; */
    font-weight: 500;
    text-align: justify;
    /* background-color: green; */
}

.User-name:hover{
    cursor: pointer;
}

.header > .log-out {
    margin:1% 1% 0.5% 6%;
    width: 50%;
    color: azure;
    min-width:10%;
    text-align: center;
    font-size: 1.5vw;
    height: 50%;
    float: left;
}


.log-out:hover{
    font-weight: bold;
    cursor: pointer;
}