.wrapper{
    display:flex;
    justify-content: center;
}

.EditProfile {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10%;
    border-style: solid;
    border-width: 1px;
}