.winner-details {
    display: flex;
    flex-direction: column;
    margin: 98px 1px 50px 10px;
    border-style: solid;
    border-width: 1px; 
    width: 33%;
    height: 550px; 
    position: fixed;
    font-size: 2vw;
}



.winner-details > .best-find {
    
    margin: 15px 10px 8px 15px;
    width: 48%;
    font-family: cursive;
    
    height: 8%; 
    color: rgb(10, 10, 10);
    /* background-color: #199dd1; */
    /* background-color: lightgray; */
    /* background-color:#47494D; */
   
    border-radius: 10px;
    font-size: 2vw;
    text-align: left;
    flex-shrink: inherit;
}


.winner-details > .winner-post {
    margin: 6px 10px 30px 10px;
    border-style: solid;
    border-width: 1px; 
    width: 95%;
    height: 310px; 
    font-size: 2vw;
}


.winner-details > .winner-post-details {
    display: flex;
    flex-direction: column;
    width:60%;
    height:110px;
    color:black;
    margin-left: 10px;
    border-radius: 10px;
   
    /* background-color:#47494D; */
   
    /* align-self: center; */
}

.winner-details > .winner-post-details >.winner {
    align-self: center;
    width:100%;
    height:30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:1px auto;
}

.winner-details > .winner-post-details >.winner >.posted-by {
    font-size: 1.25vw;
}

.winner-details > .winner-post-details >.winner >.winner-name {
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 1px;
}

.winner-details > .winner-post-details >.total-votes {
    margin-top:20px;
    height:30px;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
 
}

.winner-details > .winner-post-details >.total-votes >.no-of-votes {
    font-size: 1.5vw;
}

.winner-details > .winner-post-details >.total-votes >.vote-count {
    margin-left: 10px;
    font-size: 1.5vw;
    letter-spacing: 1px;
    font-weight: bold;
}
