.container {
    display: --webkit-flex;
    height:auto;
}

.header {
    border-width: 1px;
    border-style: solid;
    display: flex;
    height: 60px; 
    background-color: #199dd1;
}

.header > .App-title {
    margin: 5px 220px 10px 5px;
    /* border-width: 1px;
    border-style: solid; */
    /* background-color: red; */
    height: 45px;
    font-size: 3vw;
    margin-bottom: 15px;
}

.header >.add-a-post {
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    width:8%;
    height:48%;
    background-color: white;
    color: rgb(89, 89, 240);
    border-radius: 5px;
    text-align: center;
    font-size: 1.5vw;
}



.header > .Search-bar {
    width: 33%;
    height: 50%;
    margin: 13px 60px 10px 20px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 7px;
}

.header > .User-name {
    width:7%;
    margin: 15px 0px 5px 45px;
    border-width: 1px;
    border-style: solid; 
    font-size: 2vw;
    font-weight: bold;
    /* background-color: green; */
}

.header > .log-out {
    margin-top: 20px;
    margin-left: 150px; 
    border-style: solid;
    border-width: 1px;
    width: 5%;
    text-align: center;
    font-size: 1.5vw;
    height: 25px;
    float: right;
}

.content {
    height:auto;
    display: flex;
    border-style: solid;
    border-width: 1px;
}

.content > .posts {
    display: flex;
    flex-direction: column;
    margin-top:5px;
    margin-left: 35%;
    border-style: solid;
    border-width: 1px;
    width: 35%;
    height: auto; 
    font-size: 2vw;
    
    /* flex-grow: 1; */
    border-radius: 10px;
}

.content > .posts > .post {
    /* display: flex; */
    margin: 15px 0px 15px 15px;
    /* border-style: solid;
    border-width: 1px;      */
    width: 95%;
    height: 650px; 
    font-size: 1vw;
    display: inline-block;
    overflow: hidden;
    /* object-fit: cover; */
}

.content > .posts > .post > .show-posts {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 45%;
    height: 20px;
    /* border-style: solid;
    border-width: 1px; */
}

.content > .posts > .post > .show-posts >.show-topic {
    font-weight: bold;
    font-size: 1.25vw;
}




.content > .posts > .post > .posted-by {
    margin: 5px 0px 0px 15px;
    width: 15%;
    min-height: 5px; 
    font-size: 1.5vw;
    font-weight: bold;
    /* background-color: red; */
    /* object-fit: cover; */
}

img {
    max-width: 100%;
    max-height: 100%;
}
.content > .posts > .post >.post-pic {
    margin: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    min-height: 210px; 
    font-size: 2vw;
}

.content > .posts > .post > .votecount {
    font-weight: bold;
    margin-left: 20px; 
}

.content > .posts > .post >.votes {
    /* margin-left: 2px; */
}

.content > .posts > .post > .Description {
    margin: 8px 15px 5px 15px;
    padding-top: 5px;
    /* border-style: solid;
    border-width: 1px; */
   
    width: 90%;
    min-height: 25px;
    text-align: justify;
    font-size: 1vw;
}

.content > .posts > .post > .Description >.user {
    margin-left: 5px;
    width: 10%;
    font-weight: bolder;
    
}

.content > .posts > .post > .Description > .Description-content {
    margin: 18px 15px 15px 15px;
    padding-top: 5px;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    min-height: 25px;
    text-align: justify;
    font-size: 1vw;
}


.content > .posts > .post > .Description > .posted-time {
    margin-left: 7px;
    margin-bottom: 5px;
    color:grey;
    font-size: 1vw;
}

.content > .posts > .post > .comments {
    margin-left: 19px;
    width: 90%;
    height:50px;
    border-bottom: 0.5px solid rgb(199, 196, 196);
}

.content > .posts > .post > .comments > .commented-by {
    margin-left: 2px;
    margin-bottom: 15px;
    width: 10%;
    font-weight: bolder;
}


.content > .posts > .post > .comments > .view-comments {
    color: grey;
    margin-left: 4px;
    margin-bottom: 5px;
    font-size: 1vw;
    /* border-bottom: 1px solid rgb(199, 196, 196); */
}

.content > .posts > .post >  .add-comment {
    margin-top: 5px;
    margin-left: 22px;
    color: grey;
    font-size: 1vw;
}

.content > .topic {
    display: flex;
    flex-direction: column;
    /* border-style: solid;
    border-width: 0.4px; */
    border-radius: 15px;
    margin: 25px;
    width: 22%;
    height: 380px;
    /* flex-grow: 1; */
}

.content > .topic >.previous-topics {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    /* border-style: solid;
    border-width: 1px; */
    margin: 175px 10px 5px 25px;
    width: 75%;
    height: 40px;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */
}

.content > .topic > .previous-topics > .view-topics {
    float: left;
    width: 65%;
}

.content > .topic > .previous-topics > .view {
    float: left;
}

.content > .topic > #myDIV {
    display: none;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius:5px;
    margin: 0px 5px 5px 25px;
    width: 85%;
    height: 120px;
    text-align: center;
    /* background-color: lightblue; */
    margin-top: 20px;
}

.content > .topic > #myDIV > .prev-topic-title {
    /* border-style: solid;
    border-width: 1px; */
    margin:auto;
    width:95%;
    height:25px;
}

.content > .topic > #myDIV > .prev-topic-title > .prev-topic {
    /* border-style: solid;
    border-width: 1px; */
}

.content > .topic > #myDIV > .prev-topic-title > .prev-title {
    /* border-style: solid;
    border-width: 1px; */
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content > .topic > #myDIV > .prev-topic-title > .no-of-posts {
    /* border-style: solid;
    border-width: 1px; */
    margin-left: 1px;
}

.content > .topic > #myDIV > .prev-topic-title > .number {
   
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content > .topic > #myDIV > .prev-topic-title > .available-week {
    
    margin-left: 5px;
}

.content > .topic > #myDIV > .prev-topic-title > .week {
    
    margin-left: 15px;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
