.vote {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 30%;
}

.vote > .Wrapped-vote-count {
    display: flex;
    border-radius: 5px;
    width: 22%;
    margin-left: 5px;
    text-align: center;
}

.vote > .Wrapped-vote-count > .votecount {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
    padding: 2px;
    font-size: 1.5vw;
}

.vote > .Wrapped-vote-count > .votes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-top: 5px;
    margin-left: 8px;
    padding: 2px;
}
