.comments {
    margin: 20px;
    width: 90%;
    height:50px;
    
}

.comments > .comment {
    margin-top: 8px;
    width: 90%;
    height:20px;
}

.comments > .comment > .commented-by {
    margin-left: 2px;
    margin-bottom: 15px;
    width: 10%;
    font-weight: bolder;
}

.comments > .comment > .comment-content {
    margin: 8px 0px 15px 5px;
    width: 10%;
}

.comments > .view-comments {
    color: grey;
    margin: 7px 2px 35px 4px;
    font-size: 1vw;
}

.view-comments:hover {
    cursor: pointer;
    text-decoration: underline;
}